/* Responsive Styles */
@media screen and (max-width: 768px) {
    .nav-logo {
        width: 20%;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        padding: 0.5rem;
        right: 1.5rem;
        font-size: 2rem;
        background: transparent;
        color: var(--gold);
        border: none;
    }

    .nav-logo_container {
        align-items: center;
        padding: 1rem 0rem;
    }

    .nav-links_container {
        display: none;
        border-radius: 10px;
        width: 95%;
        margin: 10px 0px;
        padding: 7px;
    }

    .show {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        align-items: start;
        gap: 2px;
        width: 100%;
    }

    .nav-list li {
        padding: 10px;
        width: 100%;
    }

    .nav-list li a:hover {
        color: var(--black);
    }

    .nav-list li:hover {
        background-color: var(--sub-gold);
        border-radius: 10px;
    }


}